<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodie</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="main.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Russian *cough* food-roulette</h3>
            <p id="pbox"> Vego? Check the box!<input type="checkbox" id="vegcheck" value="veg"></p>
            <button onclick="leChef()">Hit me!</button>
            <br>
            <p id="dinner">Testa lite:</p>
            <br>
            <a id="link"></a>
            <br>
        </div>
    </div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
