<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ToDo App</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

	<main>
		<h1>A simple task list</h1>
			<input id="input" type="text" value=""></input>
			<button id="ok" onClick="taskFunc()">Add Task</button>

		<div class="boxOne">
			<h3 class="text">Todo's</h3>
			<ul id="todos"></ul>
		</div>

		<div class="boxTwo">
			<h3 class="text">Complete</h3>
			<ul id="dones"></ul>
		</div>
	</main>

	<script type="text/javascript" src="main.js"></script>
</body>
</html>